[submodule "vimfiles/bundle/tabular"]
	path = vimfiles/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vimfiles/bundle/characterize"]
	path = vimfiles/bundle/characterize
	url = https://github.com/tpope/vim-characterize.git
[submodule "vimfiles/bundle/unimpaired"]
	path = vimfiles/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vimfiles/bundle/fugitive"]
	path = vimfiles/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vimfiles/bundle/colors-solarized"]
	path = vimfiles/bundle/colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vimfiles/bundle/perl"]
	path = vimfiles/bundle/perl
	url = https://github.com/vim-perl/vim-perl.git
[submodule "vimfiles/bundle/ack"]
	path = vimfiles/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
